<div style="display: block; margin: auto; width: 400px;">
  <%= form_for @search, url: '/search', remote: true  do |f| %>

    <%= f.label :disease_name %>
    <%= f.text_field :disease_name %><br>

    <%= f.submit :search %>

  <% end %>


  <div id="results-container">
  </div>
</div>
<script>
  $('#search_disease_name').autocomplete({
    source: function(request, response) {
      $.ajax({
        type: "GET",
        url: "/search/diseases",
        delay: 200,
        dataType: "json",
        success: function (data) {
          var results = $.ui.autocomplete.filter(data, request.term);
          response(results.slice(0, 10));
        }
      });
    }
  });
  $(document).ajaxSuccess(function(event, request, settings) {
    if(settings.url == '/search') {
      $('#results').remove()
      $('#results-container').append(request.responseText)
      $('.contact_email_list, .sites_more_results_button').on('click', function(){
        $('.contact_email_list').toggleClass('hidden-overflow');
      });
      $('.disease_list, .diseases_more_results_button').on('click', function(){
        $('.disease_list').toggleClass('hidden-overflow');
      });
    }
  })
</script>
